#parent {
  display: grid;
  justify-content: center;
}

#hi {
  margin-top: 40px;
}

input {
  margin-top: 10px;
  height: 50px;
  width: 300px;
}

button {
  margin-top: 10px;
  height: 60px;
  background-color: #aef2ba;
  border: 0px;
  border-radius: 10%;
  font-size: large;
}

body {
  background-color: #ccf3ff;
}

#password{
  display:grid;
  justify-content: center;
}